{% extends 'Front/base.html.twig' %}

{% block main %}
    <div class="total">
    <div class="totalbas">
        {% form_theme userForm 'bootstrap_4_layout.html.twig' %}
        {{ form(userForm) }}
    </div>
    </div>
{% endblock %}
