/*Tous*/
* {
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 10px;
}
@font-face {
    font-family: "yatai";
    src: url(font/tempus-sans-itc.ttf);
}
@font-face {
    font-family: "cream";
    src: url(font/Louis.ttf);
}
li {
    list-style-type: none;
}
.w-90 {
    width: 90%;
}
.logo {
    width: 100px;
    height: auto;
}
.reseaux {
    width: 30px;
}
.nodec{
    text-decoration: none;
}
.totalrestau{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.totalcate{
    width: 100%;
    height: calc(100vh - 100px);
    margin: auto;
    display: flex;
    align-items: center;
}
.total{
    width: 100%;
    height: calc(100vh - 200px);
    margin: auto;
    display: flex;
    align-items: center;
}
.totalbas{
    width: 100%;
}
/*articleShow*/
.content{
    width: 200px;
}
/*Header*/
nav {
    background-color: #9f1300;
    height: 100px;
}
#panier {
    width: 50px;
}
#connexion {
    width: 50px;
}
.titre1 {
    text-decoration: none;
    color: white;
    font-family: "yatai";
}
.titre1:hover{
    color: white !important;
}
.carousel-item {
    height: 600px;
}
.logout{
    color: white;
    font-family: "cream";
    font-size:20px;
}
.logout:hover{
    color: black!important;
}
.admin-article-list{
    color: white;
    font-family: cream;
    width: 50px;
}
.admin-article-list:hover{
    color: black !important;
}
.admin-menu{
    width: 200px;
}


/*main*/
.top-sell {
    border-radius: 40px;
    width: 300px;
}
.list{
    color: white;
    font-family: "cream";
}
.list:hover{
    color: white!important;
}


/*footer*/
footer {
    background-color: #9f1300;
    height: 100px;
}


/*Flash*/
.flash-success {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: lightgreen;
    font-size: 20px;
}


/*article List*/
.article{
    width: 100%;
    border-radius:10px ;
}
.articletop{
    font-family: cream;
}
.imgtop{
    width: 250px;
    height: 200px;
}
.imgtop img{
    width: 100%;
    height: 100%;
}
.imgadmin{
    width: 250px;
    height: 200px;
}
.imgadmin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.admin-list{
    margin-bottom: 50px;
    font-family: cream;
}

.btn-art{
    background-color: #9f1300;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#article_content{
    height: 170px!important;
}
.btn-art:hover{
    color: black;
}

.abso{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-48.50%);
}


/*category List*/
.category_article{
    margin-left:20px;
    width: 240px;
}
.category_title{
    text-align: center;
    background-color: #9f1300;
    color: white;
    font-family: cream;
    padding: 10px 10px;
}
.category_title:hover{
    color: white;
}


/*Notre Vision*/
.titre_vision{
    background-color: #9f1300;
    width: 30%;
    margin-top: 20px;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
}


/*Info Contact*/
.infcon{
    height: calc(100vh - 200px);
    margin: auto;
}
.numero{
    background-color: #9f1300;
    color: white;
    padding: 5px 5px;
}

/*plats*/
.plats{
    width:400px;
    border-radius: 50px;
}
/*menu hamburger*/

#side-bar {
    position: absolute;
    width: 250px;
    height: 100%;
    background: #9f1300;
    top: 0;
    left: -250px;
    transition: 0.5s ease-out;
}
.toggle-btn {
    position: absolute;
    top: 100px;
    left: 260px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.toggle-btn span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background: black;
    display: block;
    margin-top: 4px;
    transition: 0.7s ease;
}

.list-menu {
    color: #292929;
    list-style: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 5px;
}

#side-bar.active {
    left: 0;
}

#side-bar.active span {
    position: absolute;
}
#side-bar.active span:nth-child(1) {
    top:14px;
    transform: rotate(45deg);
}
#side-bar.active span:nth-child(2) {
    top:14px;
    transform: rotate(-45deg);
}
#side-bar.active span:nth-child(3) {
    opacity: 0 ;
}




