/*Tous*/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
@font-face {
    font-family: "yatai";
    src: url(font/tempus-sans-itc.ttf);
}
@font-face {
    font-family: "cream";
    src: url(font/Louis.ttf);
}
li {
    list-style-type: none;
}
.w-90 {
    width: 90%;
}
.logo {
    width: 100px;
    height: auto;
}
.reseaux {
    width: 30px;
}
.nodec{
    text-decoration: none;
}
.totalrestau{
    width: 100%;
    height: calc(100vh - 100%);
    margin: auto;
    display: flex;
    align-items: center;
}
.totalcate{
    width: 100%;
    height: calc(100vh - 100px);
    margin: auto;
    display: flex;
    align-items: center;
}
.total{
    width: 60%;
    height: calc(100vh - 200px);
    margin: auto;
    display: flex;
    align-items: center;
}
.totalbas{
    width: 100%;
}
/*articleShow*/
.content{
    width: 200px;
}
/*Header*/
nav {
    background-color: #9f1300;
    height: 100px;
}
#panier {
    width: 50px;
}
#connexion {
    width: 50px;
}
.titre1 {
    text-decoration: none;
    color: white;
    font-family: "yatai";
}
.titre1:hover{
    color: white !important;
}
.carousel-item {
    height: 600px;
}
.logout{
    color: white;
    font-family: "cream";
    font-size:20px;
}
.logout:hover{
    color: black!important;
}
.admin-article-list{
    color: white;
    font-family: cream;
    width: 50px;
}
.admin-article-list:hover{
    color: black !important;
}
.admin-menu{
    width: 200px;
}


/*main*/
.top-sell {
    border-radius: 40px;
    width: 300px;
}
.list{
    color: white;
    font-family: "cream";
}
.list:hover{
    color: white!important;
}


/*footer*/
footer {
    background-color: #9f1300;
    height: 100px;
}


/*Flash*/
.flash-success {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: lightgreen;
    font-size: 20px;
}


/*article List*/
.article{
    width: 100%;
    border-radius:10px ;
}
.articletop{
    font-family: cream;
}
.imgtop{
    width: 250px;
    height: 200px;
}
.imgtop img{
    width: 100%;
    height: 100%;
}
.imgadmin{
    width: 250px;
    height: 200px;
}
.imgadmin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.admin-list{
    margin-bottom: 50px;
    font-family: cream;
}

.btn-art{
    background-color: #9f1300;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#article_content{
    height: 170px!important;
}
.btn-art:hover{
    color: black;
}

.abso{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-48.50%);
}


/*category List*/
.category_article{
    margin-left:10px;
}
.category_title{
    text-align: center;
    background-color: #9f1300;
    color: white;
    font-family: cream;
    padding: 10px 10px;
}
.category_title:hover{
    color: white;
}


/*Notre Vision*/
.titre_vision{
    background-color: #9f1300;
    width: 30%;
    margin-top: 20px;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
}


/*Info Contact*/
.infcon{
    height: calc(100vh - 200px);
    margin: auto;
}
.numero{
    background-color: #9f1300;
    color: white;
    padding: 5px 5px;
}

/*plats*/
.plats{
    width:400px;
    border-radius: 50px;
}
/*menu hamburger*/
#menuToggle
{
    display: block;
    position: relative;
    top: 30px;
    margin-left: 10px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: white;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: black;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}


#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #9f1300;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;

}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #9f1300;
    list-style-type: none;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}






