{% extends 'Front/base.html.twig' %}

{% block main %}
<div class="total">
    <div class="form totalbas">
        {# Formulaire en bootstrap #}
        {% form_theme articleForm 'bootstrap_4_layout.html.twig' %}
        {{ form(articleForm) }}
        </div>
    </div>
{% endblock %}
