{% extends 'Front/base.html.twig' %}

{% block metaTitle %}
    Categories
{% endblock metaTitle %}

{% block main %}
    <div class="totalcate">
        <div class="d-lg-flex align-items-center totalbas w-75 mx-auto ">
            {% for categorie in category %}
                <article class="category_article mx-auto">
                    <a class="nodec" href="{{ path('categorie_show', {'id': categorie.id}) }}"><h1 class="category_title">{{ categorie.title }}</h1></a>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock main %}