{% extends 'Front/base.html.twig' %}
{% block main %}
    <div class="infcon d-flex justify-content-center align-items-center">
        <div>
            <h1>Heure D'ouverture</h1>
            <div class="d-flex justify-content-around">
                <p>Dim - Lun</p>
                <p>Fermé</p>
            </div>
            <div class="d-flex justify-content-around">
                <p>Mar - Sam</p>
                <p>12:00 - 14:00 <br>18:00 - 21:00</p>
            </div>
            <div class="d-flex justify-content-center rounded-pill numero">
            <p>01.30.72.02.38</p>
            </div>
        </div>
    </div>
{% endblock main %}