{% extends 'Front/base.html.twig' %}
{% block main %}
    <div>
        <h2 class="titre_vision">NOS PASSIONS</h2>
        <p>Passionnés de voyage et de cuisine, nous avons voulus ramener avec nous la richesse d'une gastronomie atypique et encore peu connue en France : Celle de la Street-Food Japonaise.
            Aux goûts uniques et variés, nous souhaitions faire découvrir ces pépites culinaires à ceux qui n'y ont pas encore succombé et pour ceux à qui ces saveurs manquent tant, qu'ils puissent les retrouver.

            Le Japon possède une faculté à créer des plats en apparence simple, mais avec un raffinement singulier et une complexité de goût qui à entraîner une cinquième saveur de base avec le sucré, salé, acide et amer : l'Umami (うま味), littéralement
            "le Savoureux".

            L'amour que nous avons pour ce Pays nous a conduit à créer notre établissement, pour faire découvrir ce que nous ne retrouvons difficilement ici et fédérer le plus grand nombre autour d'une passion commune : La culture JAPONAISE.</p>
    </div>
    <br>
    <div>
        <h2 class="titre_vision">NOTRE CONCEPT</h2>
        <p>Notre nom, YATAI, est issu du Japonais 屋台 signifiant "Magasin ambulant", ce qui donne toute son inspiration à notre concept, car nous proposons une restauration à emporter ainsi qu'une épicerie de produits japonais (Matières premières, boissons et confiseries).
            Nous souhaitions rester fidèle aux plats populaires japonais, issus de la street-food, et qui se retrouvent le plus souvent lors des marchés nocturnes, des festivals (appelés Matsuri - 祭り/祭) et au quotidien, dans les Kombini (Epicerie de quartier).

            Le saké aura une place particulière chez nous car, en France nous avons très peu de connaissances sur le sujet et le plus souvent qui s'avèrent être fausses car inventées par les restaurants asiatiques occidentaux pour intégrer plus de "folklore".
            La découverte de la subtilité de cet alcool (qui ne dépasse pas en réalité les 20° d'alcool) pourra vous surprendre, vous intriguer mais surtout vous donnera un tout autre regard sur le saké japonais, qui, nous l'espérons se révélera être un coup de foudre.

            Notre épicerie fine pourra également vous donner un aperçu des confiseries (salés ou sucrés), préparations culinaires, thés, boissons alcoolisées ou non.</p>
    </div>
    <br>
    <div>
        <h2 class="titre_vision">NOS VALEURS</h2>
        <p>Il nous tient à coeur de proposer des plats fidèles aux recettes originales, réellement populaires au Japon
            et ainsi faire connaitre autour de ces plats, toute la culture nippone, qu'elle soit traditionnelle ou moderne, qui ne demande qu'à être connue. Dans cette démarche, nous avons appris auprès de natifs, les secrets de fabrications et les bonnes associations plats-boissons, qui les rendent si addictifs.

            Sensible aux questions du gaspillage alimentaire, nous privilégions une production raisonnée. Lorsqu'un plat est en rupture de stock, il n'y a pas de nouvelle production avant le lendemain. Lorsque toute notre production est écoulée, nous clôturons la cuisine plus tôt.

            Notre plus grande satisfaction sera de savoir que vous avez passé un moment agréable, que vous avez découvert des plats ou des boissons et que nous avons su vous donner un intérêt pour le Japon, sa gastronomie ou sa culture.

            L'aventure ne fait que commencer !</p>
    </div>
{% endblock main %}