{% extends 'base.html.twig' %}

{% block metaTitle %}
    Categories
{% endblock metaTitle %}

{% block main %}
    <div class="d-flex">
        {% for categorie in category %}
            <article class="article">
                <h2>{{ categorie.title | upper }}</h2>
                
            </article>
        {% endfor %}
    </div>
{% endblock main %}